* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        font-family: "Open Sans";
      }
      
      .header {
        background-image: url("../images/banner-bg.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: #000000;
        max-width: 1660px;
        margin: 0 auto;
      
        display: flex;
        position: relative;
        text-align: center;
        justify-content: center;
      
        z-index: 0;
      }
      
      .header:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
      
        opacity: 0.6;
      
        z-index: -1;
      }

      @font-face {
        font-family: "Open Sans";
        src: url("../fonts/OpenSans-Regular.woff");
        font-weight: normal;
        font-style: normal;
      }
      
      @font-face {
        font-family: "Open Sans";
        src: url("../fonts/OpenSans-Bold.woff");
        font-weight: bold;
        font-style: normal;
      }
      .container {
        width: 1200px;
        margin: 0 auto;
      
        padding: 45px 15px 145px;
      }
      
      .top-line {
        display: flex;
        justify-content: space-between;
      
        margin-bottom: 100px;
      }
      
      .header-logo {
        width: 180px;
      }
      
      .menu-list {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        list-style-type: none;
      }
      
      .menu-list-item:nth-of-type(n + 2) {
        margin-left: 35px;
      }
      
      .menu-link {
        font-size: 13px;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
      }
      
      .header-title {
        text-transform: uppercase;
        color: #ffffff;
      
        text-align: center;
      
        font-size: 45px;
        font-weight: bold;
        line-height: 1.6;
      }

      .in-trends {
        display: flex;
        justify-content: center;
      }
      
      .page {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
      
        padding: 55px 15px;
      }

      .banner_top {
        margin-top: 50px;
      }

      .materials {
        display: flex;
        justify-content: center;
        max-width: 1660px;
      }

      .item {
        width: 25%;
        height: 320px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #000000;

        display: flex;
        position: relative;
        flex-flow: column wrap;
        justify-content: flex-end;
        align-items: center;
                   
        z-index: 0;
      }

      .item_1 {
        background-image: url(../images/trend1.jpg);
      }

      .item_2 {
        background-image: url(../images/trend2.jpg);
        margin-left: 3px;
      }
      .item_3 {
        background-image: url(../images/trend3.jpg);
        margin-left: 3px;
        margin-right: 3px;
      }
      .item_4 {
        background-image: url(../images/trend4.jpg);
      }

      .item_1:after,
      .item_2:after,
      .item_3:after,
      .item_4:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000000;
      
        opacity: 0.6;
      
        z-index: -1;
      }
           
      .item__body {
        border: 3px solid #b59f5b;
        margin: auto 20px 15px;
        text-align: start;
        padding: 35px;
      }

      .item__name {
        color: #ffffff;
        text-transform: uppercase;
      }
      .stories {
        margin-right: 120px;
      }
      
      .articles {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      
        width: 780px;
      }
      
      .card {
        display: flex;
      }
      
      .card:nth-of-type(n + 2) {
        margin-top: 60px;
      }
      
      .picture {
        width: 380px;
      }
      
      .text {
        width: 370px;
        margin-left: 30px;
      }
      
      .rubric-link {
        text-decoration: none;
        color: #b59f5b;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
      }
      
      .rubric-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        list-style-type: none;
        margin-bottom: 15px;
      }
      
      .rubric-list-item {
        margin-right: 20px;
      }
      
      .header-link {
        text-decoration: none;
        color: #0f0d0e;
      }
      
      .card-name {
        font-size: 20px;
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: bold;
      }
      
      .imprint {
        display: flex;
        margin-top: 30px;
      }
      
      .card-date {
        color: #888888;
        font-size: 12px;
      }
      
      .author {
        font-size: 12px;
        color: #000000;
        font-weight: bold;
      
        margin-left: 15px;
      }
      
      .card-content {
        font-size: 15px;
        line-height: 1.5;
        color: #0f0d0e;
      
        margin-top: 45px;
        margin-right: auto;
        margin-left: auto;
      }
      
      .other-info {
        display: flex;
        flex-flow: column nowrap;
        text-align: flex-start;
      
        width: 270px;
      }
       
      .new-post {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      
        margin-top: 20px;
      }
           
      .date {
        font-size: 12px;
        color: #a9a9a9;
      }
      
      .title {
        margin-left: 20px;
      }
      
      .title-name {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
      }
      
      .title-link {
        text-decoration: none;
        color: #000000;
      }
      
      .search {
        display: flex;
        margin-top: 60px;
      }
      
      .mailing {
        margin: 60px auto;
      }
      
      .topics {
        display: flex;
        flex-flow: column wrap;
        align-items: stretch;
        justify-content: flex-start;
      
        margin-top: 60px;
      }
      
      .banner,
      .banner_top,
      .banner_bottom {
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
      
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
      }
      
      .banner:after,
      .banner_top:after,
      .banner_bottom:after {
        content: "";
        display: block;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
      
        border-color: #e1d9bd;
        background-color: #e1d9bd;
        width: 60px;
        height: 3px;
      }
      
      .field {
        width: 225px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: auto;
      
        color: #bdc0bf;
        background-color: #f4f7f6;
        border: none;
      }
      
      .email {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: auto;
      
        color: #bdc0bf;
        background-color: #f4f7f6;
        border: none;
      }
      
      .button-search {
        width: 55px;
        height: 55px;
        background-color: #b59f5b;
        border: none;
     }

      .button-icon {
        width: 20px;
        height: 20px;
        margin: auto;

        background-size: 25px;
        color: #000000;
        cursor: pointer;
      }
      
      .submit {
        text-transform: uppercase;
      
        margin-top: 20px;
      
        width: 270px;
        padding-top: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
      
        color: #ffffff;
        background-color: #b59f5b;
        border: none;
        font-weight: bold;
        cursor: pointer;
      }
      
      .visually-hidden {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        width: 1px;
      }
      
      .tag-list {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        align-content: space-between;
      }
      
      .tag-link {
        color: #0f0d0e;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
      }
      
      .tag-list-item {
        list-style-type: none;
        font-size: 12px;
        font-weight: bold;
        border: solid 3px;
        border-color: #eeeeee;
        padding: 8px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
      }
      
      .topic-list {
        display: flex;
        flex-flow: column nowrap;
      }
      
      .topic-link {
        color: #000000;
        font-weight: bold;
        text-decoration: none;
      }
      
      .topic-list-item {
        list-style-type: none;
        font-size: 14px;
        font-weight: bold;
      
        padding-top: 20px;
        padding-bottom: 20px;
      
        border-bottom: solid 1px;
        border-bottom-color: #eeeeee;
      }
      
      .topic list .topic-list-item:first-child {
        padding-top: 0;
      }
      
      .number-of-articles {
        vertical-align: top;
        font-size: 10px;
        font-weight: bold;
        color: #b59f5b;
      }
    
      .products {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
                              
        width: 1120px;
        margin: 0 auto;
        padding: 0;
      }
      
      .product {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }

      .product_2 {
        margin: 0 110px;
      }

      .outline {
        outline-style: solid;
        outline-width: 3px;
        outline-color: #b59f5b;
        outline-offset: 20px;
      }

    .product__title {
        padding-bottom: 15px;
        text-transform: uppercase;
      }

      .product__content {
        padding: 15px 0;
      }

      .link-to-article {
        color: #b59f5b;
      }

      .product__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .product__prices {
        display: flex;
        flex-flow: column wrap;
        font-weight: bold;
      }

      .product__price_old {
        text-decoration: line-through;
        font-size: 14px;
      }

      product__price {
        font-size: 20px;
      }
      
      .product__button {
        text-transform: uppercase;
        margin-top: 20px;
      
        padding: 20px 30px;
      
        color: #ffffff;
        background-color: #b59f5b;
        border: none;
        font-weight: bold;
        cursor: pointer;
      }

       .site-footer {
        width: 1200px;
        padding: 0 15px;
      
        margin: 65px auto;
      }
      
      .icons-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
      
        padding: 30px 480px;
      
        margin-bottom: 70px;
      
        background-color: #f4f7f6;
      }
      
      .icon-list-item {
        list-style-type: none;
      }
      
      .social-link {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 20px;
      }
      
      .twitter-link {
        background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg");
        background-repeat: no-repeat;
        background-position: center center;
      }
      
      .pinterest-link {
        background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg");
        background-repeat: no-repeat;
        background-position: center center;
      }
      .facebook-link {
        background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg");
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .instagram-link {
        background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg");
        background-repeat: no-repeat;
        background-position: center center;
      }
      
      .tumblr-link {
        background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
        background-repeat: no-repeat;
        background-position: center center;
      }

      .copy-right {
        font-size: 12px;
              
        color: #999999;
        font-weight: bold;
      
        text-align: center;
      
        margin-bottom: 40px;
      }
      
      @media (min-width:641px) and (max-width: 1200px) {
       .header {
         max-width: 770px;
         background-image: url("../images/banner-bg-tablet.jpg");
         background-size: cover;
       }
       .top-line {
         margin-left: 35px;
       }

       .logo-link {
         max-width: 160px;
       }
       .header-title {
         font-size: 40px;
         line-height: 1.4;
       }

       .menu-list {
         display: none;
       }
       .in-trends {
         max-width: 770px;
         margin: 0 auto;
       }

       .materials {
         display: flex;
         flex-flow: row wrap;
         margin: 0 auto;
       }
       .item {
         width: 49%;
       }
       
       .item_2 {
         margin-left: 5px;
         margin-bottom: 5px;
       }
       .item_3 {
         margin-right: 5px;
         margin-top: 0;
         margin-left: 0;
      }
      .banner_top,
      .banner_bottom {
         font-size: 1.28em;
      }

      .page {
        max-width: 700px;
        margin: 35px 35px 50px;
        padding: 0;
        justify-content: center;
      }
      
      .stories {
        max-width: 400px; 
        margin: 0;
      }

      .card {
        display: flex;
        flex-flow: column wrap;
        border-bottom: 3px solid #eeeeee;
      }
      
      .card-name {
        font-size: 17px;
      }
      .card-content {
        font-size: 15px;
      }
      .card:nth-of-type(n + 2) {
        margin-top: 40px;
      }

      .imprint {
        margin: 40px 0;
      }

      .card-name {
        font-size: 17px;
        line-height: 1.3;
      }

      .text {
        margin: 15px 0;
      }

      .other-info {
        max-width: 270px;
        margin-left: 35px;
      }

      .our-works {
        max-width: 770px;
      }

       .products {
         max-width: 650px;
         display: flex;
         flex-flow: row wrap;
         margin: 0 auto;
       }

       .product {
         max-width: 290px;
         width: 48%;
      }
      .product_2 {
        margin-left: 10%;
        margin-right: 0;
      }
      .product_3 {
        margin-top: 5%;
      }
    
      .site-footer {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto
      }
      .icons-list {
        max-width: 700px;
      }
     }

     @media (max-width: 640px) {
       .header {
        background-image: url("../images/banner-mobile.jpg");
        max-width: 360px;
       }

      .header-logo {
        width: 270px;
      }
      .logo-link {
        margin-top: 240px;
      }
      .header-title {
        font-size: 26px;
        line-height: 1.4;
      }

      .menu-list {
        display: none;
      }
      .materials {
        max-width: 360px;
        flex-wrap: wrap;
      }
      .item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
      .item:nth-child(n + 2) {
        margin-top: 3px;
      }
      .page {
        max-width: 330px;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
      }
      
      .stories {
        max-width: 330px;
        margin: 0 auto;
      }
      .articles {
        max-width: 330px;
      }
      .picture-1,
      .picture-2,
      .picture-3,
      .picture-4,
      .picture-5 { 
        max-width: 330px;
      }
      .text {
        margin-left: 0;
        width: 100%;
      }
      .card {
        flex-direction: column;
        width: 100%;
        max-width: 330px;
      }
      .other-info {
        margin-top: 45px;
      }
      .products {
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        max-width: 285px;
      }
      .product {
        width: 100%;
      }
      .product_2 {
        margin: 50px auto;
      }
      .site-footer {
        max-width: 330px;
      }
      .icons-list {
        max-width: 330px;
      }
     }

